@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--body-bg);
}

:root {
  --main-text: #000;
  --main-bg-color: #142850;
  --accent-1: #ff5a5f;
  --accent-2: #00a8cc;
  --body-bg: #f8f9fa;
  --heading-font: "Proza Libre", sans-serif;
  --heading-size: 2.2rem;
  --icon-hover: #b71661;
}

.c-border {
  border: 5px solid red;
}

.btn-outline-dark {
  color: var(--accent-2);
  background-color: #fff;
  border-color: var(--accent-2);
}

.btn-outline-dark:hover {
  background-color: var(--accent-2);
  border-color: #fff;
}
