.emoji-picker-container {
  position: absolute;
  right: 66%;
  top: 50%;
  z-index: 40;
}

@media (max-width: 576px) {
  .emoji-picker-container {
    position: fixed;
    bottom: 70%;
    left: 25%;
    z-index: 1050; /* Ensure it appears above the modal */
  }
}
