h1 {
  font-family: var(--heading-font);
  font-size: var(--heading-size);
}

.fa-paw {
  font-size: 2em;
}



.border {
  border: 2px solid #000;
}

.rounded {
  border-radius: 10px;
}

.p-4 {
  padding: 2rem;
}
